/*Estilos del Cart*/
.card-with-border {
    width: 18rem;
    background-color: white;
    /*flex: 0 0 calc(25% - 20px);  25% para dividir en 4 columnas, y ajusta el espacio entre ellas */
    margin-left: 10px; 
    padding: 10px;
    height: 450px; /* Puedes ajustar este valor según tus necesidades */ 

  }

  .product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    margin-top: 40px;

  }

  /*Estilos de Imagen*/
  .img {
    height: 220px;
  }

  .img-center {
    display: block;
    margin: auto;
  }

  /*Estilos del Title Cart*/
.title {
  font-weight: bold;
  font-size: 22px;
  padding-top: 8px;
}
/*Estilos del boton comprar*/
.comprar {
  background-color: rgb(255, 255, 255); 
  border: 2px solid #8bc0ec;
  border-radius: 20px;
  padding: 8px 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  } 
  .comprar:hover {
    background: #8bc0ec; 
    color: rgb(0, 0, 0);}