/*Estylo del Navar*/
.custom-navbar {
    background-color: #000000;
    display: flex;
    align-items: center;
    /*padding(top, right, bottom, left)*/
    padding: 20px 100px 20px 100px; 
  }
  
/*Estylo del Logo*/
  .navbar-logo {
    height: 50px;
    margin-right: 40px;
  }
  
  
  
/* Estylos para los Navbar  */

  .navbar-links {
    margin-left: auto; /* Cambiado de 'margin-right' a 'margin-left' */
  }
  
  .navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links ul li {
    display: inline;
    margin-right: 40px;
  }
  
  .navbar-links ul li a {
    text-decoration: none;
    color: #fff; /* Cambia el color del texto a blanco */
    font-weight: bold; /* Añade negritas */
  }
  
  .navbar-links ul li a:hover {
    color:#8bc0ec
  }
  

  
  /* ...resto de tu CSS si lo hay */