.bg-black {
  background-color: #000000; /* Color negro */
  padding: 20px 100px 20px 100px;
}

  
/*Estylo del Logo*/
  .navbar-logo {
    height: 50px;
    margin-right: 40px;
    cursor: pointer;
  }
  
  

  .navbar-drop{
    
    color: #fff; /* Cambia el color del texto a blanco */
    font-weight: bold; /* Añade negritas */
    
  }
  
  .navbar-links{
    text-decoration: none;
    color: #fff; /* Cambia el color del texto a blanco */
    font-weight: bold; /* Añade negritas */
    margin-right: 40px;
  }
  
  .navbar-links:hover {
    color:#3b79ba
  }
  

  /* ...resto de tu CSS si lo hay */